<html ng-app="StorageDemo">
<head>
	<title></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
	<script type="text/javascript" src="../src/browserStorage.js"></script>
	<script type="text/javascript" src="demo.js"></script>
</head>
<body>
	<div id="demo-1" ng-controller="demo1">
		<h3>First Demo</h3>
		<div>
			<input type="text" ng-model="input1" />
			<input type="button" ng-click="saveInput1()" value="Save!" />
		</div>
		<div>
			<input type="button" ng-click="loadInput1()" value="Load!" />
			Loaded value: {{loadedValue}}
		</div>
	</div>
</body>
</html>